In [45]:
import sqlite3
import pandas as pd


def get_table_as_df(connection, table):
    try:
        query = f"SELECT * FROM {table}"
        dataframe = pd.read_sql_query(query, connection)
    except sqlite3.Error as error:
        print(f"Error while connecting to SQLite database {error}", error)
        return None
    except Exception as e:
        print(f"Error while reading data from the database: {e}")
        return None
    return dataframe

# Getting tables as df from database
def get_all_dataframes_from_database(database):
    try: 
        with sqlite3.connect(database) as connection:
            dataframes = []
            table_names = connection.execute("SELECT name FROM sqlite_master WHERE type='table';")
            for table_name in table_names:
                dataframes.append(get_table_as_df(connection, table_name[0]))
            return dataframes
    except sqlite3.Error as error:
        print(f"Error while connecting to SQLite database {error}")
        raise error
# Putting each dataframe in separate variables 
cmc_students, cmc_courses, cmc_student_jobs = get_all_dataframes_from_database("dev/cademycode.db")
cmc_students

,uuid,name,dob,sex,contact_info,job_id,num_course_taken,current_career_path_id,time_spent_hrs
0,1,Annabelle Avery,1943-07-03,F,"{""mailing_address"": ""303 N Timber Key, Irondal...",7.0,6.0,1.0,4.99
1,2,Micah Rubio,1991-02-07,M,"{""mailing_address"": ""767 Crescent Fair, Shoals...",7.0,5.0,8.0,4.4
2,3,Hosea Dale,1989-12-07,M,"{""mailing_address"": ""P.O. Box 41269, St. Bonav...",7.0,8.0,8.0,6.74
3,4,Mariann Kirk,1988-07-31,F,"{""mailing_address"": ""517 SE Wintergreen Isle, ...",6.0,7.0,9.0,12.31
4,5,Lucio Alexander,1963-08-31,M,"{""mailing_address"": ""18 Cinder Cliff, Doyles b...",7.0,14.0,3.0,5.64
...,...,...,...,...,...,...,...,...,...
4995,4996,Quentin van Harn,1967-07-07,N,"{""mailing_address"": ""591 Blue Berry, Coulee, I...",5.0,5.0,2.0,13.82
4996,4997,Alejandro van der Sluijs,1964-11-03,M,"{""mailing_address"": ""30 Iron Divide, Pewaukee ...",4.0,13.0,1.0,7.86
4997,4998,Brock Mckenzie,2004-11-25,M,"{""mailing_address"": ""684 Rustic Rest Avenue, C...",8.0,10.0,3.0,12.1
4998,4999,Donnetta Dillard,1943-02-12,N,"{""mailing_address"": ""900 Indian Oval, Euclid, ...",3.0,6.0,5.0,14.86
4999,5000,Elton Otway,1994-12-23,M,"{""mailing_address"": ""406 Zephyr Port, Oskaloos...",2.0,5.0,3.0,10.04